body {
	font-family: Verdana;
	font-size: medium;
	color: rgb(0, 0, 0);
	background-color: #99ff9e;
	width: 100%;
	height: 30px;
	text-align: center;	
}
h1 {
	font-family: Verdana;
	font-size: xx_larger;
	color: rgb(0, 0, 0);
	background-color: #99ff9e;
	border-width: 2px;
	border-style: solid;
	border-color: #039;
	border-center
	width: 10%;
	height: 40px;	
	text-align: center;
}